/** Main colors */
$c-main:rgb(15, 56, 119);
$c-secondary: rgb(242, 129, 33);

/** Global colors */
$c-white:rgb(255, 255, 255);
$c-light-gray:rgb(220, 220, 220);
$c-dark-gray:rgb(50, 50, 50);
$c-black:rgb(0, 0, 0);

