@import "common";

.chat-view {
    box-shadow: 0 2px 4px 0 transparentize($c-black, 0.8);
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    background-color: $c-white; 
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.chat-conversation {
    flex: 1;
    display: flex;
    flex-direction: column;
    &__messages { 
        flex: 1;
        padding: 15px;
        overflow: auto;
    }
    &__send {
        flex: 0 0 50px;
        position: relative;
    }
}
.send-form {
    padding: 10px;
    display: flex;
    position: relative;
    &__input {
        height: 40px;
        flex: 1;
        font-size: $f-sm;
        border: 1px solid $c-light-gray;
        border-radius: 5px 0 0 5px ;
        padding: 0 10px;
        &:active, &:focus {
            box-shadow: none !important;
            outline: none !important;
        }
    }
    &__submit {
        height: 40px;
        flex: 0 0 100px;
        border-radius: 0 5px 5px 0;
        color: $c-white;
        border: none;
        &:active, &:focus {
            box-shadow: none !important;
            outline: none !important;
        }
    }
}

.loading {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}

.most-frequent {
    padding: 15px;
    flex: 0 0 250px;
    background: $c-light-gray;
    &__title {
        font-size: $f-md;
        color: $c-main;
    }
    &__list {
        padding: 0;
    }
    &__item {
        font-size: $f-xs;
        list-style: none;
        padding: 5px 0;
        color: $c-dark-gray;
        cursor: pointer;
        &:hover {
            color: $c-main;
        }
        & + & {
            border-top: 1px dotted $c-dark-gray;
        }
    }
}